#animation_container {
    position: absolute;
    /* margin: auto; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.preload {
    position:absolute; top:0; left:0; display: inline-block; height:450px; width: 690px; text-align: center;
}
.preload span{
    display: inline-block; height: 100%; vertical-align: middle;
}
.preload span img{
    vertical-align: middle; max-height: 100%
}
@media only screen and (max-width: 1024px) {
    #canvas { width: 100% !important;}
    .preload { height:450; width: 100%; }
    
}